<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<!-- Add cache policy for static files -->
		<caching>
			<profiles>
				<add extension=".css" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="365:00:00:00" />
				<add extension=".gif" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="365:00:00:00" />
				<add extension=".jpeg" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="365:00:00:00" />
				<add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="365:00:00:00" />
				<add extension=".png" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="365:00:00:00" />
				<add extension=".svg" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="365:00:00:00" />
				<add extension=".webp" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="365:00:00:00" />
			</profiles>
		</caching>

		<!-- Disable browsing of directories -->
		<directoryBrowse enabled="false" />

		<!-- Custom 404 page -->
		<!-- <httpErrors errorMode="Custom">
			<clear />
			<error statusCode="404" path="/not-found" responseMode="ExecuteURL" />
		</httpErrors> -->

		<!-- Redirect non-www to www -->
		<rewrite>
			<rules>
				<rule name="Redirect to www">
					<match url=".*" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="^connectwithgo\.com$" />
					</conditions>
					<action type="Redirect" url="https://www.{HTTP_HOST}/{R:0}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>

		<!-- Add MIME types for JSON, WOFF, WEBP -->
		<staticContent>
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />

			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="font/woff" />

			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />

			<remove fileExtension=".webp" />
			<mimeMap fileExtension=".webp" mimeType="image/webp" />

			<remove fileExtension=".webmanifest" />
			<mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
		</staticContent>
	</system.webServer>
</configuration>
